title=2.1.2. Понятие о изомерии
date=2018-07-16
type=post
tags=ch02,2.1.2
status=published
~~~~~~

<p class="c-text"><!-- text -->
Еще до создания теории строения были известны вещества одинакового элементного состава, но c разными свойствами. Такие вещества были названы <i>изомерами</i>, а само это явление &mdash; <i>изомерией</i>.
В основе изомерии, как показал А. М. Бутлеров, лежит <i>различие в строении</i> молекул, состоящих из одинакового набора атомов. Таким образом,
</p>

<div class="c-define"><dfn class="c-definition">Изомерия</dfn> &mdash; это явление существования соединений, имеющих одинаковый качественный и количественный состав, но различное строение и, следовательно, разные свойства.</div>

Например, при содержании в молекуле 4-х атомов углерода и 10-ти атомов водорода возможно существование 2-х изомерных соединений:

<div class="centered">
<img src="../img/img08.png" alt="Изомеры состава бутана" width="442" height="207">
</div>

<p class="c-text"><!-- text -->
В зависимости от характера отличий в строении изомеров различают <b>структурную</b> и <b>пространственную</b> изомерию.
</p>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page16.html">А. М. Бутлеров</a></li>
</ul>
</div>
