title=2.2.3. Форма и энергия атомных орбиталей
date=2018-07-22
type=post
tags=ch02,2.2.3
status=published
~~~~~~

<p class="c-text"><!-- text -->
Атомные орбитали (АО) разных типов отличаются друг от друга формой и энергией и обозначаются символами: 
<i>s</i>, <i>p</i>, <i>d</i>, <i>f</i> и т.д.
</p>

<p class="c-text"><!-- text --> 
Органические вещества состоят в основном из элементов 2-го и 3-го периодов, валентные электроны которых находятся на 
<i>s-</i> и <i>р-</i>АО.<br>
Атомные орбитали <i>s-</i>типа имеют форму сферы:
</p>

<div class="centered">
<img src="../img/img15.png" alt="s-орбитали" width="372" height="200">
</div>

<p class="c-text"><!-- text + paragraph -->
<span class="termin"><em><i>р-</i></em>АО имеют форму объемной восьмерки (гантели), направленной по оси x, y или z.</span>
</p>

<div class="centered">
<img src="../img/img16.png" alt="p-орбитали" width="631" height="289">
</div>

<p class="c-text"><!-- text -->
Энергия орбитали возрастает по мере удаления электрона от ядра атома (т.е. с увеличением номера электронного уровня).</p>

<p class="c-text">Так, энергия s-АО увеличивается в ряду: <i>1s &lt; 2s &lt; 3s</i> и т.д. 
Аналогично изменяется энергия <i>р-</i>АО: <i>2p &lt; 3p &lt; 4p</i> и т.д.
Внутри одного энергетического уровня энергия АО возрастает от <i>s-</i>АО к <i>р-</i>АО:</p> 

<div style="text-align:center; font-weight:bolder; font-style:italic;">2s &lt; 2p; 3s &lt; 3p.</div>
