title=4.2. Контрольные вопросы
date=2018-07-27
type=quiz
tags=ch04,4.2
status=published
~~~~~~
<form>
  <dl class="c-questions">
    <dt class="c-questions__question">
      <div class="c-text">1. Задание А, ЕГЭ. В теорию химического строения органических веществ в ХIХ в. <i>не входило</i> положение:</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="1">
      <b>Ответ 1</b> : о валентном состоянии углерода
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="2">
      <b>Ответ 2</b> : о зависимости свойств веществ от качественного и количественного состава
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="3">
      <b>Ответ 3</b> : об оптической изомерии
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="4">
      <b>Ответ 4</b> : о зависимости свойств веществ от порядка соединения атомов в молекуле
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">2. Задание А, ЕГЭ. Свойства каждого атома в молекуле органического вещества зависят:</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="1">
      <b>Ответ 1</b> : только от его природы
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="2">
      <b>Ответ 2</b> : от его природы и его окружения
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="3">
      <b>Ответ 3</b> : только от его ковалентности
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="4">
      <b>Ответ 4</b> : от его валентности и атомной массы
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">3. Какое из положений теории А.М. Бутлерова объясняет различие в реакциях соединений одинакового состава:</div>
      <div style="font-size:1.5em; text-align:center;">
        2&nbsp;CH<sub>3</sub>&ndash;CH<sub>2</sub>&ndash;O&ndash;H + 2 Na <span style="font-size: 1.3em;">→</span> 2 CH<sub>3</sub>&ndash;CH<sub>2</sub>&ndash;O&ndash;Na<sup>+</sup>+H<sub>2</sub>
      </div>
      <div style="font-size:1.5em; text-align:center;">CH<sub>3</sub>&ndash;O&ndash;CH<sub>3</sub> + Na <span style="font-size:1.3em;">↛</span> реакция не идет</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="1">
      <b>Ответ 1</b> : Атомы в молекулах соединены друг с другом в определенной последовательности согласно их валентности.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="2">
      <b>Ответ 2</b> : Химическое строение можно устанавливать химическими методами.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="3">
      <b>Ответ 3</b> : По свойствам данного вещества можно определить строение его молекул, а по строению молекул &mdash; предсказать свойства.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="4">
      <b>Ответ 4</b> : Атомы и группы атомов в молекуле оказывают друг на друга взаимное влияние.
    </dd>
    
    <dt class="c-questions__question">
      <div class="c-text">4. Изомерами называются:</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q4" value="1">
      <b>Ответ 1</b> : вещества, имеющие сходное строение и сходные химические свойства, но разный количественный состав
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q4" value="2">
      <b>Ответ 2</b> : вещества, имеющие одинаковый качественный состав, но различные свойства
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q4" value="3">
      <b>Ответ 3</b> : вещества, имеющие одинаковый качественный и количественный состав, но различное строение молекул
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q4" value="4">
      <b>Ответ 4</b> : вещества, молекулы которых содержат одинаковое количество атомов углерода, но разное количество атомов других элементов
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">5. Какие из данных соединений являются изомерами?</div>
      <div class="c-centered"><img src="../img/img24.png" alt="Какие из данных соединений являются изомерами?" width="443" height="135"></div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q5" value="1">
      <b>Ответ 1</b> : А и Б; &nbsp; Б и Д
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q5" value="2">
      <b>Ответ 2</b> : А и Б; &nbsp; В и Е
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q5" value="3">
      <b>Ответ 3</b> : Б и В; &nbsp; Г и Д
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q5" value="4">
      <b>Ответ 4</b> : А, Б и Е
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">6. Что такое атомная орбиталь?</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q6" value="1">
      <b>Ответ 1</b> : Траектория, по которой движется электрон в поле ядра атома.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q6" value="2">
      <b>Ответ 2</b> : Часть пространства, в котором вероятность нахождения электрона минимальна.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q6" value="3">
      <b>Ответ 3</b> : Область наиболее вероятного пребывания электрона в поле ядер атомов, составляющих молекулу.
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q6" value="4">
      <b>Ответ 4</b> : Область наиболее вероятного пребывания электрона в электрическом поле ядра атома.
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">7. Укажите типы орбиталей  <i>А</i> и <i>Г</i>:</div>
      <div class="c-centered"><img src="../img/img25.png" alt="Укажите типы орбиталей А и Г" width="401" height="247"></div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q7" value="1">
      <b>Ответ 1</b> : А - <i>p</i>; Г&ndash;<i>s</i>
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q7" value="2">
      <b>Ответ 2</b> : A - <i>d</i><sub>xy</sub>; Г&ndash;<i>p</i>
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q7" value="3">
      <b>Ответ 3</b> : А - <i>p<sub>z</sub></i>; Г&ndash;<i>p<sub>x</sub></i>
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q7" value="4">
      <b>Ответ 4</b> : А - <i>p<sub>y</sub></i>; Г&ndash;1<sub>s</sub>
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q7" value="5">
      <b>Ответ 5</b> : А - <i>p<sub>z</sub></i>; Г&ndash;2<sub>s</sub>
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">8. Неправильное заполнение атомных орбиталей электронами выражено схемой:</div>
      <div class="c-centered"><img src="../img/img26.png" alt="Неправильное заполнение атомных орбиталей электронами выражено схемой" width="401" height="91"></div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q8" value="1">
      <b>Ответ 1</b> : Г
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q8" value="2">
      <b>Ответ 2</b> : Б
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q8" value="3">
      <b>Ответ 3</b> : В, Г
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q8" value="4">
      <b>Ответ 4</b> : А, Г
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q8" value="5">
      <b>Ответ 5</b> : А, В, Г
    </dd>
      
  </dl>
</form>
