title=1.2. Органические соединения
date=2018-07-11
type=post
tags=ch01,1.1
status=published
~~~~~~

<p class="c-text"><!-- text -->Критерием деления соединений на органические и неорганические служит их <i>элементный состав</i>.</p>
<p class="c-text">К органическим соединениям относятся химические вещества, содержащие в своем составе <i>углерод</i>, например:</p>

<div class="centered">
<img src="../img/img04.png" width="492" height="235" alt="Примеры органических соединений">
</div>

<p class="c-text"><!-- text -->Органические соединения отличаются от неорганических рядом характерных <i>особенностей:</i></p>

<div><!-- list -->
  <ul>
    <li>почти все органические вещества горят или легко разрушаются при нагревании с окислителями, выделяя СО<sub>2</sub> (по этому признаку можно установить принадлежность исследуемого вещества к органическим соединениям)</li>
    <li>в молекулах органических соединений углерод может быть соединен почти с любым элементом Периодической системы;</li>
    <li>органические молекулы могут содержать последовательность атомов углерода, соединенных в цепи (открытые или замкнутые);</li>
    <li>молекулы большинства органических соединений не диссоциирует на достаточно устойчивые ионы;</li>
    <li>реакции органических соединений протекают значительно медленнее и в большинстве случаев не доходят до конца;</li>
    <li>среди органических соединений широко распространено явление изомерии;</li>
    <li>органические вещества имеют более низкие температуры фазовых переходов (т.кип., т.пл.).</li>
  </ul>
</div>
