title=4.1. Контрольные вопросы
date=2018-07-26
type=quiz
tags=ch04,4.1
status=published
~~~~~~

<form>
  <dl class="c-questions">
 
    <dt class="c-questions__question">
      <div class="c-text">1. Какие из приведенных соединений относятся к органическим?</div>
      <div class="c-centered"><img src="../img/img23.png" alt="Какие из приведенных соединений относятся к органическим?" width="463" height="84"></div>
      <div class="c-text">Варианты ответов (выберите правильный):</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="1">
      <b>Ответ 1</b> : все приведенные соединения
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="2">
      <b>Ответ 2</b> : б, в, г, д
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="3">
      <b>Ответ 3</b> : б, в, д, е, ж
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q1" value="4">
      <b>Ответ 4</b> : все, кроме «е» и «з»
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">2. Что является критерием деления веществ на органические и неорганические?</div>
      <div class="c-text">Варианты ответов (выберите правильный):</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="1">
      <b>Ответ 1</b> : происхождение вещества
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="2">
      <b>Ответ 2</b> : элементный состав соединения
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="3">
      <b>Ответ 3</b> : способ получения
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="4">
      <b>Ответ 4</b> : способность к горению
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="5">
      <b>Ответ 5</b> : способность к диссоциации
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="6">
      <b>Ответ 6</b> : молекулярная масса
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q2" value="7">
      <b>Ответ 7</b> : температуры кипения и плавления
    </dd>

    <dt class="c-questions__question">
      <div class="c-text">3. (Задание A, ЕГЭ). Одной из причин многообразия органических веществ является:</div>
      <div class="c-text">Варианты ответов (выберите правильный):</div>
    </dt>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="1">
      <b>Ответ 1</b> : способность атомов углерода образовывать углерод-углеродные связи
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="2">
      <b>Ответ 2</b> : аллотропия углерода
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="3">
      <b>Ответ 3</b> : большое число элементов, из которых образованы органические вещества
    </dd>
    <dd class="c-questions__answer">
      <input type="radio" name="q3" value="4">
      <b>Ответ 4</b> : многообразие реакций, протекающих в живой природе
    </dd>

  </dl>

</form>
