title=1.1. Углерод
date=2018-07-10
type=post
tags=ch01,1.1
status=published
~~~~~~

<p class="c-text"><!-- text -->
Символ <b>С</b>, элемент IV A группы 2-го периода Периодической системы элементов; атомный номер 6; атомная масса 12,01115.
Электронная конфигурация в основном состоянии <b>1s<sup>2</sup>2s<sup>2,</sup>2p<sup>2</sup></b>. 
Углерод &mdash; особый элемент. Ни один другой химический элемент не способен образовывать такое многообразие соединений. Причина этого многообразия в том, что атомы углерода способны:</p>

<ol>
  <li>
    соединяться друг с другом в цепи различного строения:
    <ul>
      <li>
        Открытые неразветвленные:<div class="centered"><img src="../img/img01.png" alt="Открытые нераветвленные цепи углерода" width="347" height="133"></div>
      </li>
      <li>
        Разветвлённые:<div class="centered"><img src="../img/img02.png" alt="Разветвленные цепи углерода" width="304" height="183"></div>
      </li>
      <li>
        Замкнутые:<div class="centered"><img src="../img/img03.png" alt="Замкнутые цепи углерода" width="334" height="186"></div>
      </li>
    </ul>
  </li>
  <li>образовывать не только простые (одинарные), но и кратные (двойные, тройные) связи;</li>
  <li>образовывать прочные связи почти с любым другим элементом.</li>
</ol>

<p class="c-text"><!-- text -->
Эти уникальные свойства углерода объясняются сочетанием двух факторов:
</p>

<div><!-- list -->
  <ul>
    <li>наличие на внешнем энергетическом уровне (2s и 2p) четырех электронов (поэтому атом углерода не склонен не терять, ни приобретать свободные электроны с образованием ионов);</li>
    <li>малый размер атома (в сравнении с другими элементами IV группы).</li>
  </ul>
</div>

<p class="c-text"><!-- text -->
Вследствие этого углерод образует главным образом ковалентные, а не ионные связи, и проявляет валентность, равную 4.
</p>
