title=2. Основы теории строения
date=2018-07-13
type=post
tags=ch02
status=published
~~~~~~

<p class="c-text"><!-- text -->Основой современной органической химии является <i>теория строения органических соединении</i>, созданная на базе теории химического строения А.М. Бутлерова и электронных (квантовохимических) представлений о строении атома и природе химической связи.</p>

<div class="centered">
<img src="../img/img05.png" alt="Теория строения органических соединений" width="428" height="323">
</div>

<p class="c-text"><!-- text -->
Современная теория строения позволяет предсказывать основные химические и физические свойства органических соединений, исходя из их химического, пространственного и электронного строения.
</p>

<p class="c-text">
Теория строения играет ключевую роль в изучении и систематизации огромного фактического материала органической химии и открывает широкие возможности для получения веществ с заданными свойствами. 
</p>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page16.html">А. М. Бутлеров</a></li>
</ul>
</div>
