title=2.1.2.2. Стереоизомеры
date=2018-07-18
type=post
tags=ch02,2.1.2.2
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Пространственные изомеры (стереоизомеры)</dfn> при одинаковом составе и одинаковом химическом строении различаются пространственным расположением атомов в молекуле.</div>
<p class="c-text">Пространственными изомерами являются оптические и цис-транс изомеры (шарики разного цвета обозначают разные атомы или атомные группы):</p>

<div class="centered">
<img src="../img/img11.gif" alt="Примеры пространственных изомеров" width="320" height="200">
</div>

<p class="c-text">Молекулы таких изомеров несовместимы в пространстве.</p>

<p class="c-text">Стереоизомерия играет важную роль в органической химии. Подробнее эти вопросы будут рассматриваться при изучении соединений отдельных классов.</p>
