title=2.1. Основные положения теории химического строения
date=2018-07-14
type=post
tags=ch02,2.1
status=published
~~~~~~

<ol>
  <li>Атомы в молекулах соединены друг с другом в определенной последовательности согласно их валентностям. Последовательность межатомных связей в молекуле называется ее химическим строением и отражается одной структурной формулой (формулой строения).</li>
  <li>Химическое строение можно устанавливать химическими методами. (В настоящее время используются также современные физические методы).</li>
  <li>Свойства веществ зависят от их химического строения.</li>
  <li>По свойствам данного вещества можно определить строение его молекулы, а по строению молекулы &mdash; предвидеть свойства.</li>
  <li>Атомы и группы атомов в молекуле оказывают взаимное влияние друг на друга.</li>
</ol>

<p class="c-text"><!-- text -->
Теория Бутлерова явилась научным фундаментом органической химии и способствовала быстрому ее развитию. Опираясь на положения теории, А.М. Бутлеров дал объяснение явлению изомерии, предсказал существование различных изомеров и впервые получил некоторые из них.</p>

<p class="c-text">Развитию теории строения способствовали работы Кекуле, Кольбе, Купера и Вант-Гоффа. Однако их теоретические положения не носили общего характера и служили, главным образом, целям объяснения экспериментального материала.</p>
