title=3.2. Приложения. Основные термины
date=2018-07-25
type=post
tags=ch03,3.2
status=published
~~~~~~

<div class="c-define" id="top"><dfn class="c-definition">Нефть</dfn> &mdash; горючее ископаемое, представляет собой сложную смесь углеводородов с другими органическими соединениями (сернистыми, азотистыми, кислородными). Важнейший источник жидкого топлива, смазочных масел и&nbsp;других нефтепродуктов, а также сырья для химической промышленности<!-- иллюстрация: url: ../flash/next.swf-->.</div>
<p class="c-text">Первичная переработка нефти &mdash; перегонка<!-- url: ../flash/kolon1_s.swf --> при атмосферном давлении.</p>

<div class="c-define" id="top4"><dfn class="c-definition">Природный газ (горючий)</dfn> &mdash; естественная смесь газообразных углеводородов, в составе которой преобладает метан (80&ndash;97%). Образуется при медленном разложении растительных остатков без доступа воздуха.</div>

<p id="top5"><!-- paragraph -->
<div class="c-define"><dfn class="c-definition">Электрон</dfn> &mdash; элементарная частица, входящая в состав атома.</div>

<ul>
  <li>Заряд &minus;1.6&times;10<sup>&minus;19</sup> Кл (&minus;1 элементарный заряд).</li>
  <li>Масса 0.0005486 а.е.м. (1/1836 массы протона).</li>
  <li>Спин &frac12;.</li>
  <li>Открыт Дж. Дж. Томпсоном в 1897 г.</li>
  <li>Движение электрона подчиняется законам квантовой механики.</li>
</ul>

<p id="top7"><!-- paragraph -->
<b><i>Принцип неопределенности</i></b>. Экспериментальные исследования свойств микрочастиц (атомов, электронов, ядер, фотонов и др.) показали, что точность определения их динамических переменных (координат, кинетической энергии, импульсов и т.п.) ограничена и регулируется открытым в 1927 г. В. Гейзенбергом принципом неопределенности. Согласно этому принципу динамические переменные, характеризующие систему, могут быть разделены на две (взаимно дополнительные) группы: </p>

<ol>
  <li>временные и пространственные координаты (<i>t</i> и <i>q</i>);</li>
  <li>импульсы и энергия (<i>p</i> и <i>E</i>).</li>
</ol>

<p class="c-text"><!-- text -->
При этом невозможно определить одновременно переменные из разных групп с любой желаемой степенью точности (например, координаты и импульсы, время и энергию). Это связано не с ограниченной разрешающей способностью приборов и техники эксперимента, а отражает фундаментальный закон природы. Его математическая формулировка дается соотношениями:
</p>

<div class="centered">
<img src="../img/img22.png" alt="Формулы, описывающие принцип неопределенности" width="283" height="52">
</div>

<p style="margin-left: 260px; width: 50%;"><!-- marginparagraph -->
где &Delta;q, &Delta;p, &Delta;E, &Delta;t &mdash; неопределенности (погрешности) измерения координаты, импульса, энергии и времени, соответственно;<br> h &mdash; постоянная Планка.</p>

<p class="c-text"><!-- text -->
Обычно достаточно точно указывают значение энергии микрочастицы, так как эта величина сравнительно легко определяется экспериментально.
</p>

<div class="c-define" id="top6"><dfn class="c-definition">Квантовая механика</dfn>&nbsp;&mdash; физическая теория, устанавливающая законы движения микрочастиц (электронов, ядер и др.).</div>

<p class="c-text">Основные отличия квантовой механики от классической (описывающей движение макрочастиц) заключаются в следующем:</p>

<ol>
<li>Некоторые физические величины в квантовой механике имеют вероятностный характер. Например, положение (координаты) и скорость микрочастицы невозможно определить точно, а можно лишь рассчитать вероятность их различных значений.</li>
<li>Изменение некоторых физических величин в квантовой механике происходит не непрерывно, а дискретно. Например, энергия микрочастицы может иметь лишь некоторые определенные значения.</li>
</ol>

<div class="centered">
<img src="../img/img21.png" alt="Электронные орбитали атомов элементов 2-го периода" width="640" height="350">
</div>

<div class="c-define"><dfn class="c-definition">Квантовые числа</dfn> &mdash; энергетические параметры, определяющие состояние электрона и тип атомной орбитали, на которой он находится.</div>

<ol>
<li>Главное квaнтовое число <i>n</i> определяет общую энергию электрона и степень его удаления от ядра (номер энергетического уровня); оно принимает любые целочисленные значения, начиная с 1 (<i>n</i> = 1, 2, 3, ...)</li>
<li>Орбитальное (побочное или азимутальное) квантовое число <i>l</i> определяет форму атомной орбитали. Оно может принимать целочисленные значения от 0 до <i>(n&minus;1)</i> (l = 0, 1, 2, 3, ..., <i>n &minus;1</i>). Каждому значению <i>l</i> соответствует орбиталь особой формы. Орбитали с <i>l</i> = 0 называются <i>s</i>-орбиталями,
  <ul>
  <li><b>l</b> = 1 &mdash; <i>р</i>-орбиталями (3 типа, отличающихся магнитным квантовым числом <b>m</b>),</li>
  <li><b>l</b> = 2 &mdash; <i>d</i>-орбиталями (5 типов),</li>
  <li><b>l</b> = 3 &mdash; <i>f</i>-орбиталями (7 типов).</li>
  </ul>
</li>
<li>Магнитное квантовое число <i>m</i> определяет ориентацию орбитали в пространстве относительно внешнего магнитного или электрического поля. Его значения изменяются от <i>+l</i> до <i>&minus;l</i>, включая 0. Например, при <i>l</i> = 1, число <i>m</i> принимает 3 значения: +1, 0, &minus;1, поэтому существуют 3 типа  <i>р</i>-АО:  <i>р<sub>x</sub>,  р<sub>y</sub>,  р<sub>z</sub>.</i></li>
<li>Спиновое квантовое число <i>s</i> может принимать лишь два возможных значения +&frac12; и &minus;&frac12;. Они соответствуют двум возможным и противоположным друг другу направлениям собственного магнитного момента электрона, называемого <i>спином</i> (от англ. <i>веретено</i>). Для обозначения электронов с различными спинами используются символы: &and; и &or;</li>
</ol>

<div class="centered">
<img src="../img/img20.png" id="top1" alt="Структурные формулы изобутана" width="424" height="224">
</div>

<!-- paragraph + text -->
<div class="c-define" id="top2"><dfn class="c-definition">Экология</dfn> (от греч. <i>oikos</i> &mdash; дом, жилище, место пребывания) &mdash; наука об отношениях растительных и животных организмов и образуемых ими сообществ между собой и окружающей средой. Объектами экологии являются популяции организмов, виды, сообщества, экосистема и биосфера в целом.</div>

<p class="c-text">В настоящее время в связи с загрязнением окружающей среды и усилившимся воздействием человека на природу экология приобрела особое значение. Критическое состояние окружающей среды (экологический кризис), угрожающее существованию человека, вызвано не только деятельностью крупных промышленных предприятий и различных видов транспорта, но и отношением к окружающей среде каждого из нас.</p>

<p class="c-text">Экологически грамотное поведение человека основано, в частности, на ясном представлении о свойствах органических веществ, используемых для изготовления тех или иных изделий. Зная, например, химические свойства предельных углеводородов, Вы задумаетесь, прежде чем выбросить в неположенном месте ненужную пластиковую бутылку или полиэтиленовый пакет. Материалы, из которых сделаны подобные вещи (полиэтилен, полипропилен и т.п.) относятся к предельным углеводородам, отличающимся своей химической инертностью (они не взаимодействуют с кислородом воздуха, устойчивы к действию микроорганизмов, солнечного света, кислот и щелочей) и поэтому могут пролежать без разложения многие десятилетия, загрязняя окружающую нас среду.</p>
