title=2.2.2. Атомные орбитали
date=2018-07-21
type=post
tags=ch02,2.2.2
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Атомная орбиталь (АО)</dfn> &mdash; область наиболее вероятного пребывания электрона (электронное облако) в электрическом поле ядра атома.</div>

<p class="c-text"><!-- text -->
Положение элемента в Периодической системе определяет тип орбиталей его атомов (<i>s-</i>, <i>p-</i>, <i>d-</i>, <i>f-</i>АО и т.д.), различающихся энергией, формой, размерами и пространственной направленностью.
</p>

<div class="centered">
<img src="../img/img13.png" alt="Типы атомных орбиталей" width="545" height="220">
</div>

<p class="c-text"><!-- paragraph + text -->
Для элементов 1-го периода (Н, He) характерна одна АО &mdash; 1s.</p>
<p class="c-text">
В элементах 2-го периода электроны занимают пять АО на двух энергетических уровнях: первый уровень <i>1s</i>;<br>
второй уровень &mdash; <i>2s</i>, <i>2p<sub>x</sub></i>, <i>2p<sub>y</sub></i>, <i>2p<sub>z</sub></i>. (цифры обозначают номер энергетического уровня, буквы – форму орбитали).
</p>

<div class="centered">
<img src="../img/img14.png" alt="Атомные орбитали в элементах второго периода" width="180" height="188">
</div>

<p class="c-text"><!-- spacer + text -->
Состояние электрона в атоме полностью описывают <i>квантовые числа</i>.
</p>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="http://www.chemistry.ssu.samara.ru/chem1/pic_2_2_2_2.htm">Элементы 2-го периода</a></li>
<li><a href="http://www.chemistry.ssu.samara.ru/chem1/22_kv_n.htm">Квантовые числа</a></li>
</ul>
</div>
