title=1.3. Значение органической химии
date=2018-07-12
type=post
tags=ch01,1.1
status=published
~~~~~~

<p class="c-text"><!-- text -->
Органическая химия имеет исключительно важное познавательное и народнохозяйственное значение.
</p> 

<p class="c-text">
<i>Природные</i> органические вещества и их превращения лежат в основе явлений жизни. Поэтому органическая химия является химическим фундаментом биологической химии и молекулярной биологии &mdash; наук, изучающих процессы, происходящие в клетках организмов на молекулярном уровне. Исследования в этой области позволяют глубже понять суть явлений живой природы.
</p>

<p class="c-text">
Множество <i>синтетических</i> органических соединений производится промышленностью для использования в самых разных отраслях человеческой деятельности.
</p>

<p class="c-text">
Это &mdash; нефтепродукты, горючее для различных двигателей, полимерные материалы (каучуки, пластмассы, волокна, пленки, лаки, клеи и т.д.), поверхностно-активные вещества, красители, средства защиты растений, лекарственные препараты, вкусовые и парфюмерные вещества и т.п. Без знания основ органической химии современный человек не способен экологически грамотно использовать все эти продукты цивилизации.
</p>

<p class="c-text">
Сырьевыми источниками органических соединений служат: 
нефть и природный газ, каменный и бурый угли, горючие сланцы, торф, продукты сельского и лесного хозяйства.
</p>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page17.html#top2">Экология (эколочически чистый)</a></li>
<li><a href="page17.html#top3">Нефть</a></li>
<li><a href="page16.html#top4">Природный газ</a></li>
</ul>
<a class="bold-link" href="page18.html">1.4 Контрольные вопросы</a>
</div>
