title=2.2.4. Заполнение атомных орбиталей электронами
date=2018-07-23
type=post
tags=ch02,2.2.4
status=published
~~~~~~

<p class="c-text"><!-- text -->
При заполнении атомных орбиталей электронами соблюдаются три основные правила.
</p>

<dl>
<dt><i>Принцип устойчивости</i>.</dt>
<dd>АО заполняются электронами в порядке повышения их энергетических уровней:</dd>
</dl>

<div class="c-centered-formula">
1s &lt; 2s &lt; 2p &lt; 3s &lt; 3p &lt; 4s &lt; 3d ...
</div>

<dl>
<dt><i>Принцип Паули</i>.</dt> 
<dd>На одной АО могут находиться не более двух электронов с противоположными спинами.</dd>
</dl>

<dl>
<dt><i>Правило Хунда</i>.</dt>
<dd>На АО с одинаковой энергией, так называемых вырожденных орбиталях, электроны располагаются по одному с параллельными спинами.</dd>
</dl>

<div class="centered">
<img src="../img/img17.png" alt="Разрешенные и неразрешенные электронные конфигурации" width="529" height="407">
</div>

<p class="c-text"><!-- text -->
В химических превращениях принимают участие электроны внешнего электронного уровня – валентные электроны.
</p>

<p class="c-text"><!-- paragraph + img + text -->
Наиболее распространенные в органических соединениях элементы (элементы-органогены) относятся в основном ко 2-му (C, N, O) и 3-му (P, S, Cl) периодам Периодической системы. Валентными электронами этих элементов являются 
2<i>s</i>-, 2<i>р</i>- и 3<i>s</i>-, 3<i>р</i>-электроны, соответственно.
</p>

<div class="centered">
<img src="../img/img18.png" alt="Заполнение орбиталей двух энергетических уровней" width="529" height="372">
</div>

<p class="c-text"><!-- paragraph -->
<a class="bold-link" href="page19.html">2.3 Контрольные вопросы</a>
</p>
