title=2.1.1. Формулы строения
date=2018-07-15
type=post
tags=ch02,2.1.1
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Формула строения (структурная формула)</dfn> описывает порядок соединения атомов в молекуле, т.е. ее химическое строение.</div>
<p class="c-text"><!-- text -->
Химические связи в структурной формуле изображают черточками. Связь между водородом и другими атомами обычно не указывается (такие формулы называются сокращенными структурными формулами).
Например, полная (развернутая) и сокращенная структурные формулы <i>н</i>-бутана <b>C<sub>4</sub>H<sub>10</sub></b> имеют вид:
</p>

<div class="centered">
<img src="../img/img06.png" alt="Полная структурная формула n-бутана" width="246" height="180">
</div>

<p class="c-text"><!-- text -->
Другой пример &mdash; формулы изобутана.
Часто используется еще более краткая запись формулы, когда не изображают не только связи с атомом водорода, но и символы атомов углерода и водорода. Например, строение бензола <b>C<sub>6</sub>H<sub>6</sub></b> отражают формулы:
</p>

<div class="centered">
<img src="../img/img07.png" alt="Формулы изобутана" width="360" height="189">
</div>

<p class="c-text"><!-- text -->
Структурные формулы отличаются от молекулярных (брутто) формул, которые показывают только, какие элементы и в каком соотношении входят в состав вещества (т.е. качественный и количественный элементный состав), но не отражают порядка связывания атомов. 
Например, н-бутан и изобутан имеют одну молекулярную формулу <b>C<sub>4</sub>H<sub>10</sub></b>, но разную последовательность связей.</p>

<p class="c-text">
Таким образом, различие веществ обусловлено не только разным качественным и количественным элементным составом, но и <i>разным химическим строением</i>, которое можно отразить лишь структурными формулами. 
</p>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page17.html#top1">Формулы изобутана</a></li>
</ul>
</div>
