title=2.2. Электронные представления в органической химии
date=2018-07-19
type=post
tags=ch02,2.2
status=published
~~~~~~

<p class="c-text"><!-- text -->
Применение электронной теории строения атома и химической связи в органической химии явилось одним из важнейших этапов развития теории строения органических соединений. Понятие о химическом строении как последовательности связей между атомами, электронная теория дополнила представлениями об <i>электронном и пространственном строении</i> и их влиянии на свойства органических соединений. Именно эти представления дают возможность понять способы передачи взаимного влияния атомов в молекулах (электронные и пространственные эффекты) и поведение молекул в химических реакциях.
</p>

<p class="c-text">
Согласно современным представлениям свойства органических соединений определяются: 
</p>

<div>
<ul>
<li>природой и электронным строением атомов;</li>
<li>типом атомных орбиталей и характером их взаимодействия;</li>
<li>типом химических связей;</li>
<li>химическим, электронным и пространственным строением молекул.</li>
</ul>
</div>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page16.html">А. М. Бутлеров</a></li>
</ul>
</div>
