title=3.1. Приложения. Бутлеров Александр Михайлович
date=2018-07-24
type=post
tags=ch03,3.1
status=published
~~~~~~

<div class="c-text"><!-- text + img -->
<img src="../img/img19.png" alt="Бутлеров Александр Михайлович" width="116" height="159" style="float: left; margin-right: 8px;">
<div><b>Бутлеров Александр Михайлович</b> (15.IX.1828&nbsp;&mdash; 17.VIII.1886)</div>
</div>

<p class="c-text"><!-- paragraph + text -->
Русский химик, академик Петербургской Академии Наук (с&nbsp;1874&nbsp;г.), председатель Отделения химии Русского физико-химического общества (1878&ndash;1882), почетный член многих научных обществ. Родился в&nbsp;1828&nbsp;г. в&nbsp;Чистополе, в&nbsp;1849&nbsp;г. окончил Казанский университет. Работал там&nbsp;же: с&nbsp;1857 г.- профессор, в&nbsp;1860 и&nbsp;1863&nbsp;&mdash; ректор. С&nbsp;1868&nbsp;г. профессор Петербургского университета.
</p>

<p class="c-text"><!-- paragraph + text -->
А.М. Бутлеров&nbsp;&mdash; создатель теории химического строения органических веществ, лежащей в&nbsp;основе современной химии. Основные положения этой теории впервые были изложены в&nbsp;докладе &laquo;О&nbsp;химическом строении веществ&raquo; на&nbsp;Съезде немецких естествоиспытателей в&nbsp;сентябре 1861&nbsp;г.
</p>

<p class="c-text"><!-- paragraph -->В&nbsp;докладе Бутлерова:</p>
<ul>
<li>были подвергнуты критике и&nbsp;отвергнуты как недостаточные теории типов во&nbsp;всех их&nbsp;разновидностях (Дюма, Лоран, Жерар, Кекуле);</li>
<li>отмечено основополагающее значение теории атомности;</li>
<li>дано определение понятию химического строения как &laquo;...способа взаимного соединения атомов в&nbsp;сложном теле&raquo; (т.е. в&nbsp;молекуле) и&nbsp;распределения принадлежащих атомам сил сродства, вследствие которых образуются химические связи различной прочности;</li>
<li>намечены пути экспериментального изучения химического строения;</li>
<li>обсуждены смысл и&nbsp;способ изображения формул химического строения;</li>
<li>впервые отмечено, что различная реакционная способность разных соединений объясняется &laquo;большей или меньшей энергией&raquo;, с&nbsp;которой связываются атомы (т.е. энергией связей), а&nbsp;также полным или неполным потреблением единиц сродства при образовании связи (в&nbsp;углекислом газе&nbsp;&mdash; полное, в&nbsp;угарном газе&nbsp;&mdash; неполное);</li>
<li>обоснована идея о&nbsp;взаимном влиянии атомов в&nbsp;молекуле.</li>
</ul>

<ul>
<li>А.М. Бутлеров провел большое число экспериментов, подтверждающих выдвинутую им&nbsp;теорию строения.</li>
<li>Предсказал и&nbsp;объяснил (1864&nbsp;г.) изомерию многих органических соединений, в&nbsp;том числе двух изомерных бутанов и&nbsp;трех пентанов. Получил трет-бутиловый спирт и&nbsp;его гомологи, открыв класс третичных спиртов, а&nbsp;также другие изомерные спирты до&nbsp;амиловых (С<sub>5</sub>) включительно.</li>
<li>Осуществил первый полный синтез сахаристого вещества (1861).</li>
<li>Изучая (1861) полимеризацию бромистого винила CH<sub>2</sub>=CHBr и&nbsp;некоторых других виниловых мономеров, дал современное толкование терминам &laquo;полимер&raquo; и&nbsp;&laquo;полимеризация&raquo;.</li>
<li>В 1862&nbsp;г. предложил тетраэдрическую модель атома углерода.</li>
<li>В <nobr>1870-х</nobr> годах применил свои идеи к&nbsp;исследованию обратимых изомерных превращений (таутомерии).</li>
<li>Написал &laquo;Введение к&nbsp;полному изучению органической химии&raquo; (1864&nbsp;г.)&nbsp;&mdash; первое в&nbsp;истории науки руководство, основанное на&nbsp;теории химического строения.</li>
<li>Создал школу русских химиков, в&nbsp;которую входили В.В. Марковников, А.М. Зайцев, Е.Е. Вагнер, А.Е. Фаворский, И.Л. Кондаков и&nbsp;др.</li>
</ul>
