title=2.1.2.1. Структурные изомеры
date=2018-07-17
type=post
tags=ch02,2.1.2.1
status=published
~~~~~~

<p class="c-text"><!-- text -->
<div class="c-define"><dfn class="c-definition">Структурные изомеры</dfn> &mdash; соединения одинакового качественного и количественного состава, отличающиеся порядком связывания атомов, т.е химическим строением.</div>
</p>

<p class="c-text"><!-- text -->
Например, составу C<sub>5</sub>H<sub>12</sub> соответствует 3 структурных изомера:
</p>

<div class="centered"><img src="../img/img09.gif" alt="Структурные изомеры пентана" width="320" height="200"></div>

<p class="c-text"><!-- text -->Другой пример:</p>

<div class="centered">
<img src="../img/img10.png" alt="Структураные изомеры бутена" width="348" height="235">
</div>
