title=2.2.1. Свойства электрона
date=2018-07-20
type=post
tags=ch02,2.2.1
status=published
~~~~~~

<p class="c-text"><!-- text -->
Электрон имеет двойственную природу. В разных экспериментах он может проявлять свойства как частицы, так и волны. Движение электрона подчиняется законам квантовой механики.</p>
<p class="c-text">Связь между волновыми и корпускулярными свойствами электрона отражает соотношение де Бройля:</p>

<div class="centered" style="font-weight:bold; font-style:italic;">&lambda; = h/mv,</div>
<div style="margin-left: 300px;">где &lambda; &mdash; длина волны электрона; m &mdash; его масса; v &mdash; скорость; <br>
h = 6,62 &times; 10<sup>-34</sup> Дж &times; с &mdash; постоянная Планка.</div>

<p class="c-text"><!-- text -->
Энергию и координаты электрона, как и других элементарных частиц, невозможно одновременно измерить с одинаковой точностью 
(принцип неопределенности Гейзенберга). Поэтому движение электрона в атоме или в молекуле нельзя описать с помощью траектории. Электрон может находиться в любой точке пространства, но с разной <em>вероятностью</em>.<br><br>
<span class="termin">Часть пространства, в котором велика вероятность нахождения электрона, называют <em>орбиталью</em> или <em>электронным облаком.</em></span><br><br>Например:</p>
</div>

<div class="centered">
<img src="../img/img12.png" alt="Атомная 1s-орбиталь" width="350" height="300">
</div>

<div>
<i>Материалы к параграфу:</i>
<ul>
<li><a href="page17.html#top5">Электрон</a></li>
<li><a href="page17.html#top6">Квантовая механика</a></li>
<li><a href="page17.html#top7">Принцип неопределённости</a></li>
</ul>
</div>
