title=1. Введение
date=2018-07-09
type=post
tags=ch01
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Органическая химия</dfn> — это раздел химической науки, в котором изучаются <i>соединения углeрода</i> — их строение, свойства, способы получения и практического использования.</div>

<div class="c-define">Соединения, в состав которых входит <i>углерод</i>, называются <dfn class="c-definition">органическими</dfn>.</div>

<p class="c-text"><!-- text -->
Кроме углерода, они почти всегда содержат водород, довольно часто — кислород, азот и галогены, реже — фосфор, серу и другие элементы. Однако сам углерод и некоторые простейшие его соединения, такие как оксид углерода (II), оксид углерода (IV), угольная кислота, карбонаты, карбиды и т.п., по характеру свойств относятся к неорганическим соединениям. Поэтому часто используется и другое определение:</p>

<div class="c-define"><dfn class="c-definition">Органические соединения</dfn> — это 
<abbr title="соединения углерода с водородом">углеводороды</abbr> (соединения углерода с водородом) и их производные.</div>

<p class="c-text"><!-- text -->
Благодаря особым свойствам элемента углерода, органические соединения очень многочисленны. Сейчас известно свыше 20 миллионов синтетических и природных органических веществ, и их число постоянно возрастает.</p>
