/* Created by Vladinir Stadnik in 2009, e-mail: x-doggy@ya.ru */
/* In 2009 my age was 14 years old.
/* Main tags BODY */

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a,
a:link,
.pseudo-link {
  color: #0043ce;
  text-decoration: none;
  border-bottom: 1px solid #0043ce;
}

a:hover,
.pseudo-link:hover {
  color: #df1515;
  border-bottom-color: #df1515;
}

img {
 border: none;
}

.red {
  color: #f00;
}

.centered,
.c-centered-formula {
  text-align: center;
}

.c-centered-formula {
  font-weight: bold;
  font-style: italic;
}

.c-body {
  font-size: 13px;
  text-align: justify;
  background: fixed url(../img/recomm.png) 0 50% no-repeat;
}

.c-wrap {
  margin: 0 2em 0 4em;
  padding: 10px 0 2em;
}

.c-title-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

.c-title-article {
  font-size: 18px;
}

.c-moduletype {
  color: #0052A4;
  margin: 0;
}

.c-define {
  font-size: 15px;
  padding: 6px;
  margin: 1em 0;
  display: block;
}

.c-definition {
  letter-spacing: 0.18em;
  font-weight: bold;
  font-style: normal;
}

.bold-link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.tab > input[type="checkbox"],
.tab-content {
  display: none;
}

.tab {
  padding-bottom: 1em;
  font-size: .8em;
}

.tab-title {
  cursor: pointer;
  font-style: italic;
}

.tab-title::before {
  content: '+';
  float: left;
  padding-right: 5px;
}

.tab-content {
  padding: 10px 0;
}


.tab :checked + .tab-title::before {
  content: '−';
}

.tab :checked ~ .tab-content {
  display: block;
}

.tab-content-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  color: #484848;
}

.tab-content-layout__part {
  flex: 1 1 0;
}

.tab-content-layout__part--second {
  text-align: right;
}

.page-selection-interactive {
  background-color: transparent;
  width: 30em;
  font-size: 11px;
}

.clock-interactive {
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.4em;
}

.c-questions__question {
  margin-top: 3em;
  font-weight: bold;
}

.c-footer-nav-links {
  font-weight: bold;
  font-style: italic;
}

.c-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.c-table__cell,
.c-table__head {
  width: 33%;
  border: 1px solid #000;
}

.c-table__cell-outer {
  border: none;
}

.c-table__width--full {
  width: 100%;
}

.c-table__width--half {
  width: 50%;
}

.c-table__cell--grey {
  background-color: #484848;
}