/*
 * Separate blue theme
 * (c) 2018 Vladimir Stadnik, 11.12.2018, 23:42
 */

.c-body--theme-blue {
  background-color: #f2fff2;
}

.c-body--theme-blue .c-title-header {
  color: #004183;
}

.c-body--theme-blue .c-title-article {
  color: #494949;
}

.c-body--theme-blue .c-define {
  border: 3px solid #23a3a3;
  background-color: #afeeee;
}

.c-body--theme-blue .c-define:hover {
  border-color: #1d8181;
  background-color: #5fdcdc;
}

.c-body--theme-blue .tab-title {
  color: #0043ce;
  border-bottom: 1px dashed #0043ce;
}

.c-body--theme-blue .clock-interactive {
  color: steelblue;
  background-color: #afeeee;
}